body {
	background-color: rgba(20,20,10,0.1);
	margin: 0px;
	font-family:arial;
	font-size:15px;
}

div.srodek {
	margin-left: 150px;
	width:600px;
}

p {
	display:inline;
}

h1 {
	padding-bottom: 0px;
	margin-bottom: 20px;
	border-bottom: 1px solid red;
}

div.menu {
	margin-left:150px;
	padding: 3px;
	width:600px;
	background-color: black;
}

div.menu a {
	padding: 3px 40px 3px 3px;
	text-decoration:none;
	color:white;
}

div.menu a:hover {
	color:black;
	background-color:white;
}

div.stopka {
	margin-top: 50px;
	font-size: 10px;
}