body {background: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/itCjTBE/bright-blue-waves-elegant-abstract-background-video-corporate-animation-hd-1920x1080_4jj1mcrgg__F0000.png');}
span {font-size:18px; background-color:red; color:white;}
h1 {background-color:grey; color:white; padding:20px}
h3 {font-family:verdana; font-size:25px;}
.doprawej {text-align:right;}
.tytul {font-family:arial; font-size:30px; text-align:center;}
.srebrny {background-color:silver; border: 2px solid black; padding:20px;}
footer {border: 1px solid blue; padding:10px; margin:20px;}